- bubble_class = ["chat-bubble"]
- bubble_class << "me" if current_user == comment.user
.chat-area
  %div{ id: "comment-#{comment.id}", class: "comment-info" }
    = comment.user.name
    - if current_user == comment.user
      = link_to '編集する', edit_comment_path(comment), class: "text-muted"
  %div{ class: bubble_class }= comment.content.gsub("\n", "<br />").html_safe
