-# locals
-# question : question to display info
.question-main-info
  - solved_btn_cls = ["btn", "btn-xs"]
  - solved_btn_cls << (question.solved ? "btn-success" : "btn-warning")
  %span{ class: solved_btn_cls }=question.solved ? "解決済み" : "未解決"
  %span.h4.question-title= question.title
  .pull-right
    - question.tags.each do |tag|
      = link_to(tag.name, tag_link(tag), class: "btn btn-primary btn-sm question-tag")
.question-subinfo
  %small.text-muted="#{question.user.name} さんが質問しました"
