%h1= "#{@lesson.title} の質問"
= link_to '質問する', { controller: :questions, action: :new}, class: "btn btn-success"
%ul{ id: "question-list", class: "list-group" }
  = render(@questions) || "まだ質問が投稿されていません．"
