%header.navbar.navbar-fixed-top.navbar-inverse
  %div.container
    = link_to 'Youta', root_path, id: 'logo'
    %ul.nav.navbar-nav.navbar-right
      - if logged_in?
        %li= link_to "マイページ", user_path(current_user)
        %li= link_to "ログアウト", logout_path, method: :delete
        %li= link_to '管理画面', management_path
