.comment-info {
  margin-left: 20px;
  margin-bottom: 8px;
}
.comment-edit-link {
  margin-left: 20px;
  font-size: 12px;
}
.comment-form {
  overflow: hidden;
}

.chat-area {
  padding: 8px;
}
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}
.chat-bubble:before {
    content: "";
    position: absolute;
    top: -10px; left: 10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent #ddd transparent;
}
.chat-bubble {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 15px 20px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
    border: solid 1px #ddd;
  }
.chat-bubble:after {
    content: "";
    position: absolute;
    top: -9px; left: 10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
}
.chat-bubble.me {
  background-color: #BCF5A9;
  border: solid 1px #BCF5A9;
}
.chat-bubble.me:before {
  border-color: transparent transparent #BCF5A9 transparent;
}
.chat-bubble.me:after {
  border-color: transparent transparent #BCF5A9 transparent;
}
.chat-bubble.edit{
  width: 90%
}
