// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson-row {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.lesson-schedule {
  float: left;
  margin-right: 16px;
}
