// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-top {
  margin-bottom: 0px;
  .btn-post {
    margin-left: 16px;
    margin-bottom: 8px;
  }
}

#question-list {
  margin-top: 8px;
}

