// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-top {
  padding-top: 16px;
  .btn-post {
    margin-left: 16px;
    margin-bottom: 16px;
  }
}

.tag-selector {
  margin-top: 16px;
}

#question-list {
  margin-top: 8px;
}

