%div.profile-top
  %span.h3= "#{@user.name} さんのマイページ"
  = link_to 'プロフィールを編集する', edit_user_path(@user), class: "btn btn-link"
%ul.nav.nav-tabs
  %li.active
    %a 受講中の授業
= render(partial: @user.lessons, locals: { item_link: method(:lesson_questions_path) })
